.App {
    text-align: center;
}

.App-header {
    background-color: #0a1232;
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 14px;
    height: 100vh;
    position: absolute;
    margin: 0 auto;
    text-align: center;
}

.login-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-right: 0px;
    width: 700px;
    height: 500px;
    section {
        background-color: white;
    }
    .info-msg {
        margin: 5px 0 0 0;
    }
    .panel {
        width: 700px;
        .panel-heading {
            background: #fff;
            padding-bottom: 20px;
        }
        overflow: hidden;
        &.shrink {
            height: 500px;
            transition: height 500ms ease 300ms;
            -webkit-transition: height 500ms ease 300ms;
            -moz-transition: height 500ms ease 300ms;
            -o-transition: height 500ms ease 300ms;
        }
        .step1 {
            transition: left 300ms ease;
            -webkit-transition: left 300ms ease;
            -moz-transition: left 300ms ease;
            -o-transition: left 300ms ease;
            left: 0px;
            width: 100%;
            height: 235px;
            background: #fff;
            border-radius: 0 0 3px 3px;
            &.slide-left {
                left: -510px;
            }
            .btn-primary {
                margin: 20px auto 5px;
                display: block;
            }
        }
        .Upload {
            .btn-center {
                display: block;
                width: 150px;
                margin: 0 auto;
                margin-top: 20px;
            }
            .btn-big-txt {
                font-size: 15px;
            }
        }
        img.logo {
            display: inline-block;
            position: relative;
            width: 225px;
            margin-top: 24px;
            margin-right: 6px;
        }
    }
}

.form-theme-2 {
    input[type='url'],
    input[type='password'] {
        height: 50px;
        box-shadow: none;
        font-size: 16px;
        padding-right: 50;
        margin-top: 15px;
    }
    .form-group {
        margin-bottom: 10px;
    }
}
.npb {
    padding-bottom: 0;
}

.form-group {
    margin-left: 50px;
    margin-right: 50px;
}
